body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  height: 100vh;
}

.notificacao-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.notificacao-container .notificacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px 20px;
}

.notificacao-icone {
    font-size: 20px;
    margin-right: 12px;
    margin-top: 2px;
}

.notificacao-titulo {
    font-weight: 600;
    font-size: 14px;
}

.notificacao-mensagem {
    font-size: 13px;
}

.notificacao-hora-data {
  margin-left: auto;
  margin-right: 20px;
  text-align: right;
  font-size: 13px;
  color: #888;
  white-space: nowrap;
}


.search-bar {
  margin-left: 18px;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

.marcar-lida {
  margin-right: 1.8rem;
}

.notificacao.apagada {
  opacity: 0.5;
}