<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registro - GymTrack</title>
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <div class="left-panel">
    <h1>GymTrack</h1>
    <p>O caminho inteligente para sua evolução.</p>
  </div>

  <div class="right-panel">
    <div class="logo-container">
      <a href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo GymTrack" style="width: 100px;" />
      </a>
    </div>

    <h2>EFETUE SEU <span>REGISTRO</span></h2>
    <p class="subtext">Você está criando uma conta com o plano Plus<br>Valor:<span style="color: #165200; font-weight: bold;"> R$ 49,90/mês</span></p>
    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}

            <div class="form-grid">
                <div>
                    <label for="{{ form.username.id_for_label }}">Usuário:</label>
                    {{ form.username }}

                    {% for error in form.username.errors %}
                        <div class="error">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}

                    {% for error in form.email.errors %}
                        <div class="error">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>

                <div>
                    <label for="{{ form.password1.id_for_label }}">Senha:</label>
                    <div class="input-with-error">
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="error">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <span>{{ form.password1.errors.0 }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <label for="{{ form.password2.id_for_label }}">Confirmar senha:</label>
                    <div class="input-with-error">
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="error">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <span>{{ form.password2.errors.0 }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <label for="{{ form.peso.id_for_label }}">Peso:</label>
                    {{ form.peso }}
                </div>
                <div>
                    <label for="{{ form.altura.id_for_label }}">Altura:</label>
                    {{ form.altura }}
                </div>

                <div>
                    <label for="{{ form.data_nascimento.id_for_label }}">Data nascimento:</label>
                    {{ form.data_nascimento }}

                    {% if form.data_nascimento.errors %}
                        <div class="error">
                            {% for error in form.data_nascimento.errors %}
                                <i class="fa-solid fa-circle-exclamation"></i>
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.experiencia.id_for_label }}">Experiência:</label>
                    {{ form.experiencia }}
                </div>

                <div class="full-width">
                    <label for="{{ form.objetivo.id_for_label }}">Objetivo:</label>
                    {{ form.objetivo }}
                </div>

                <div class="form-grid full-width">
                    <button type="submit" class="confirm-button">Confirmar e pagar</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>