<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Checkout - GymTrack</title>
    <link rel="stylesheet" href="{% static 'css/pagamento.css' %}">
    <style>
        .left, .right { padding: 30px; }
        .left { flex: 1; }
        .right { flex: 1; background-color: #f9f9f9; border-radius: 10px; }
        .plan-box { background: linear-gradient(135deg, #3b82f6, #1e40af); color: white; padding: 20px; border-radius: 10px; margin-bottom: 20px; }
        .title { font-size: 24px; font-weight: bold; }
        .total { font-size: 20px; font-weight: bold; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="alert" id="pix-alert">
        <i class="fas fa-exclamation-triangle"></i>
        O QR Code gerado expirará em 15 minutos. Conclua o pagamento o quanto antes para garantir sua assinatura do plano Plus
    </div>
    <div class="left">
        <img src="{% static 'img/logo.png' %}" alt="Logo" width="100"><br><br>
        <h2>Checkout</h2>
        <p><strong>Nome:</strong> {{ nome }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Valor:</strong> R$ {{ valor }}</p>

        <h3>Escaneie com seu app de banco</h3>
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code Pix" style="max-width: 300px; margin-top: 10px;">
    </div>

    <div class="right">
        <div class="plan-box">
            <div class="title">📄 Plano Plus</div>
            <p>Tenha acesso a recursos avançados como visualização do progresso com gráficos personalizados, registro detalhado de medidas e cargas, planos de treino elaborados exclusivamente para você e diversas outras funcionalidades!</p>
            <p style="font-size: 24px; font-weight: bold;">R$ 49,90*</p>
        </div>
        <p>Subtotal: R$ 49,90</p>
        <p>Frete: R$ 00,00</p>
        <hr>
        <p class="total">Total: R$ 49,90</p>
    </div>
    
<script>
  setTimeout(() => {
    const alert = document.getElementById('pix-alert');
    if (alert) alert.style.display = 'none';
  }, 10000); // 10 segundos
</script>

</body>
</html>
