{% extends "base.html" %}
{% load static %}

{% block title %}Registrar Cargas - GymTrack{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/registrar-cargas.css' %}">
  <script src="{% static 'js/registrar-cargas.js' %}"></script>

{% endblock %}

{% block content %}
<main class="main-content">


  <div class="tabs-filter-wrapper">
    <div class="tabs-container">
      <a href="{% url 'registrar-cargas' %}" class="tab {% if active_tab == 'cargas' %}active{% endif %}">Cargas</a>
      <a href="{% url 'registrar-medicoes' %}" class="tab {% if active_tab == 'medicoes' %}active{% endif %}">Medições</a>
    </div>
  </div>

  <div class="filters-wrapper">

    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Buscar exercício..." onkeyup="filtrarExercicios()">
    </div>

    <div class="filter-bar">
      <select id="filterSelect" onchange="filtrarCategoria()">
        <option value="Todos">Todos</option>
        <option value="Superiores">Superiores</option>
        <option value="Inferiores">Inferiores</option>
        <option value="Core">Core</option>
      </select>
    </div>
    
  </div>

  <div class="cards-container" id="cardsContainer">
    {% for exercicio in exercicios %}
    <a href="#" class="card" data-categoria="{{ exercicio.categoria }}" data-id="{{ exercicio.id }}">
      <div class="card-info">
        <h3>{{ exercicio.nome }}</h3>
        <p><strong>Grupo Muscular:</strong> {{ exercicio.grupo }}</p>
      </div>
    </a>
    {% endfor %}
  </div>

</main> 

<div id="modalCarga" class="modal">
  <div class="modal-content">
    <button type="button" class="btn-fechar-modal" onclick="fecharModal()">
      &times;
    </button>
    <form id="formCarga" method="POST" action="{% url 'salvar_carga' %}" >
      {% csrf_token %}
      <input type="hidden" name="exercicio_id" id="exercicio_id">
      <h3 id="tituloExercicio"></h3>

      <div id="seriesContainer">

      </div>

      <button type="button" onclick="adicionarSerie()" class="btn-adicionar">Adicionar Série</button>
      <br><br>
      <div class="salvar-container">
        <button type="submit" class="btn-submit">Salvar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
